*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--texto2--greem);
    font-family: 'Roboto', sans-serif;
}

:root{
    --texto1--greem: #38ADB3;
    --texto2--greem: #41E495;
    --background1--black: #000;
    --background2--deep: #434343;
}



.container{
    text-align: center;
}

video{
    position: fixed;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    video{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    video{
        width: auto;
        height: 100%;
    }
}


#logo{
    width: 5%;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

#arrow{
    margin: auto;
    width: 10px;
    height: 10px;
}

#about p{
    max-width: 600px;
    margin: auto;
}

.form{
    margin: auto;
    width: 40%;
}

.form input{
    width: 50%;
}

.form button{
    width: 15%;
}

